doctype html
html
    head
        title 404页面
        meta(charset="utf-8")
    body
        div.title
            h1 访问的路由不存在
            p
        script.
            (function(){
                let oP = document.querySelector("p");
                let num = 4;
                oP.innerHTML = num + "秒后返回首页";
                let timer = setInterval(function(){
                    num--;
                    oP.innerHTML = num + "秒后返回首页";
                    if( num === 1 ) {
                        clearInterval(timer);
                        window.location.href = "http://localhost:3000/page/1";
                    };
                },1000)
            })();