<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/css/singin.css">
  </head>
  <body>
    <div class="fix wrap">
      <ul class="fl left">
        <li class="fl">node</li>
        <li class="fl">java</li>
        <li class="fl">jade</li>
        <li class="fl">c++</li>
        <li class="fl">css</li>
        <li class="fl">html</li>
        <li class="fl">html5</li>
        <li class="fl">js</li>
        <li class="fl">css3</li>
      </ul>
      <ul class="fr right">
        <li class="fl"><a class="self" href="">个人中心</a></li>
        <li class="fl"><a class="img" href=""><img></a></li>
        <li class="fl"><a class="self" href="/user/logout">退出</a></li>
      </ul>
    </div>
    <div class="content">
    </div>
  </body>
</html>